<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <record id="action_open_ficha" model="ir.actions.ac_window">
        <field name="name">Ficha</field>
        <field name="res_model">ficha</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_principal" name="Ficha"/>
    <menuitem id="jugador_menu" name="Jugador" parent="menu_principal"/>
    <menuitem id="ficha_jugador" name="Ficha" parent="jugador_menu"/>
    <menuitem id="entrenador_menu" name="Entrenador" parent="menu_principal"/>
    <menuitem id="entrenamiento_entrenador" name="Entrenamiento" parent="entrenador_menu" action="action_open_ficha"/>   

</odoo>